<div class="container-fluid bg-dark text-white d-flex d-column justify-content-end gap-1">
    
    <form class="d-flex" role="search" action="{% url 'note_search' %}" method="get">
        <input class="form-control me-2" name="search" type="search" placeholder="Search"  value="{{ search }}" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-primary" href="{% url 'note_add'  %}" role="button">Add</a>
    </div>
</div>
