{% extends "editor/base/base.html" %}


{% block page_title %}
Add
{% endblock %}




{% block page_specific_content %}
    <!-- simplify html if possible -->
    <div class="flex-fill   d-flex flex-row justify-content-center">
        <div class="flex-fill d-flex  flex-column  justify-content-center">
            {% include "editor/note/view_note/carousel.html" %}
            {% include "editor/note/view_note/note_view.html" %}
        </div>
    </div>    

{% endblock %}    

{% block phone_buttons %}
  {%  include  "editor/note/view_note/buttons.html" %}
{% endblock %}
{% block page_full_desktop_button %} 
  {%  include  "editor/note/view_note/buttons.html" %}
{% endblock %}

