<!doctype html>
<html class="h-100" lang="en-US">
  
  <head>
    {% load static %}

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'editor/css/bootstrap.min.css' %}" rel="stylesheet"  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" />
    <title>{% block page_title %} {% endblock %}</title>
  
  </head>
  <!--
    grid is allways inside a container 
    rows are wrappers for col 
    so container->row->col
    In a grid layout, content must be placed within columns and only columns may be immediate children of rows.
    if nested
    container->row->col->container->row->col

    or 
    container->row->col->row->col
-->

<!-- 
  sm,md,lg,xl,xxl

-->
  <body class="h-100">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


    <div class="d-flex flex-column justify-content-between h-100">  
        {% include 'editor/base/navbar.html'  %}
      
        <div class=" mb-5 container-fluid p-2  border-1 border-top border-success  d-lg-block d-none  bg-dark">
          <div class="container  d-flex flex-row">
          {% block  page_full_desktop_button %} {% endblock %}
          </div>
        </div>       
    
        {% block page_specific_content %}{% endblock %}

        {% include 'editor/base/footer.html'  %}
    </div>
    
    <div class="d-lg-none d-flex flex-row justify-content-center w-100 position-fixed" style="position:fixe;top:80%;">   
        {% block phone_buttons %} {% endblock %}
    </div>

  </body>
</html>
