{% extends "editor/layout.html" %}

{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'editor/style.css' %}"/>
{% endblock %}

{% block nav %}
<div class="nav_specific_editor">
  <a href="{% url 'note_add'  %}" >Add new</a>
</div>
{% endblock %}


{% block content %}

<div id="notes_container">

  {% for note in notes %}
  <article>
    <div class="note_container">
      <h1 class="note_title">{{note.title}}</h1>
      <p class="note_content">{{note.text}}</p>
      
      <div>
        <span><a href=" {% url 'note_edit' note.id %}">Edit</a></span>
        <span><a href=" {% url 'note_delete' note.id %} ">Delete</a></span>
      </div>
    </div>
  </article>
  {% endfor %}

</div>

  
{% endblock %}


