{% extends "editor/layout.html" %}

{% load static %}


{% block stylesheets %}

{% endblock %}

{% block nav %}
    
{% endblock %}

{% block content %}

    password requiremnts
    <ul>
        <li> At least 1 digit </li>
        <li> At least 1 uppercase character </li>
        <li> At least 1 lowercase character</li>
        <li> At least 1 special character </li>
        <li> It must contain at least 8 characters </li>
    </ul>

    <form method="post">
        {% csrf_token %}
        
        {{ form.as_p }}

        <input type="submit" value="save"/>
            
    </form>
{% endblock %}