{% extends "editor/layout.html" %}

{% load static %}


{% block stylesheets %}

{% endblock %}

{% block nav %}
    
{% endblock %}

{% block content %}

    <form method="post">
        <p> Write your username and confirm by clicking  confirm </p>
        {% csrf_token %}
        
        {{ form.as_p }}

        <input type="submit" value="confirm"/>
            
    </form>

    {% if messages   %}
        
        {% for message  in messages  %}
            
            {{ message }}
        
        {% endfor %}

    {% endif %}

    
{% endblock %}