{% extends "editor/base/base.html" %}

{% load static %}




{% block page_specific_navbar %}
    
{% endblock %}


{% block page_specific_content %}
    <!-- simplify html if possible -->
    <div class="flex-fill d-flex flex-row justify-content-center">
        <div class="d-flex flex-column  justify-content-center">
            {%  include  "editor/account/register/register_form.html"  %}
            <a data-testid="login" href="{% url 'login' %}" class="m-5 fs-6 fw-semibold text-center">login to exisiting account</a>
        </div>
        
    </div>  

{% endblock %}